---
import Title from "../components/title.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Title title="Foobar" />
	</body>
</html>
<style>
	:root {
		--yellow: #FF0;
		--red: #F00;
	}
</style>